@import "new-global-variables";
@import "new-color-palette";

$max-width-signup-form: 450px;

.signup-container {
  height: 100%;
  padding: 0 10%;

  .page-title {
    padding: 20px 0;
    color: $main-color;
    font-weight: 600;
  }

  .main-container {
    max-width: $max-width-signup-form;

    .intro-box {
      padding: 4.8vh 0;

      .intro-title {
        padding-top: 2.8vh;
      }

      .intro-sub-title {
        padding-top: 1.5vh;
      }
    }

    .signup-form {
      padding: 24px 0;
      border-top: $classic-button-border;
      border-bottom: $classic-button-border;
      border-color: $input-border-color;

      .show-password {
        cursor: pointer;
        right: 15px;
      }

      .terms-conditions {
        padding: 23px 0;
      }

      .new-filled-submit.invlalid {
        background-color: transparent;
        color: $main-color;
      }
    }

    .login-redirect {
      margin: 24px 0;
    }
  }
}

.classic-link {
  padding-left: 5px;
}

@media screen and #{$max-width} {
  .signup-container {
    padding: 0 5vw;

    .signup-form .dual-input {
      flex-direction: column;
    }
  }
}

@media screen and #{$max-height} {
  .signup-container {
    padding: 0 auto;

    .page-title {
      padding: 10px 0;
      color: $main-color;
      font-weight: 600;
    }

    .main-container {
      justify-content: center;

      .intro-box {
        padding: 0;
        padding-bottom: 10px;

        .intro-title {
          padding-top: 0;
        }

        .intro-sub-title {
          padding-top: 5px;
        }
      }

      .signup-form {
        flex: 0;

        .input-box {
          padding-top: 20px;
        }
      }
    }
  }
}
