<div
  [class.hide]="hideSidebar"
  class="layout vertical justified sidebar-container"
>
  <div class="top layout vertical">
    <div
      (click)="switchSidebar()"
      class="border-box layout horizontal center header"
    >
      <div
        *ngIf="!hideSidebar"
        class="layout horizontal center-center font-14 w-600 project-title"
      >
        Fomin
      </div>
    </div>

    <div class="layout vertical navigation">
      <a
        [routerLink]="['/cart']"
        #rlaCart="routerLinkActive"
        [routerLinkActive]="['active']"
        class="layout horizontal center sidebar-link"
      >
        <div class="layout horizontal center-center sidebar-icons">
          <img
            src="{{ rlaCart.isActive ? icon.activeApps : icon.apps }}"
            class="icon select-none"
          />
        </div>
        <div class="font-13 w-600 link-title">
          Cart
        </div>
      </a>

      <a
        [routerLink]="['/products']"
        #rlaProducts="routerLinkActive"
        [routerLinkActive]="['active']"
        class="layout horizontal center sidebar-link"
      >
        <div class="layout horizontal center-center sidebar-icons">
          <img
            src="{{ rlaProducts.isActive ? icon.activeHomes : icon.homes }}"
            class="icon select-none"
          />
        </div>
        <div class="font-13 w-600 link-title">
          Products
        </div>
      </a>

      <a
        [routerLink]="['/orders']"
        #rlaOrders="routerLinkActive"
        [routerLinkActive]="['active']"
        class="layout horizontal center sidebar-link"
      >
        <div class="layout horizontal center-center sidebar-icons">
          <img
            src="{{ rlaOrders.isActive ? icon.activeMessages : icon.messages }}"
            class="icon select-none"
          />
        </div>
        <div class="font-13 w-600 link-title">
          Orders
        </div>
      </a>

      <a
        *ngIf="isUserAdmin"
        [routerLink]="['/admin']"
        #rlaAdmin="routerLinkActive"
        [routerLinkActive]="['active']"
        class="layout horizontal center sidebar-link"
      >
        <div class="layout horizontal center-center sidebar-icons">
          <img
            src="{{
              rlaAdmin.isActive ? icon.activeAgentMessages : icon.agentMessages
            }}"
            class="icon select-none"
          />
        </div>
        <div class="font-13 w-600 link-title">
          Admin
        </div>
      </a>

      <a
        *ngIf="isUserAdmin"
        [routerLink]="['/users']"
        #rlaUsers="routerLinkActive"
        [routerLinkActive]="['active']"
        class="layout horizontal center sidebar-link"
      >
        <div class="layout horizontal center-center sidebar-icons">
          <img
            src="{{ rlaUsers.isActive ? icon.activeClients : icon.clients }}"
            class="icon select-none"
          />
        </div>
        <div class="font-13 w-600 link-title">
          Users
        </div>
      </a>
    </div>
  </div>

  <div class="layout vertical evenly bottom">
    <a
      href="https://app.com.au/privacy"
      target="_blank"
      class="font-13 classic-link"
      >Privacy policy</a
    >
    <a
      href="https://app.com.au/eula"
      target="_blank"
      class="font-13 classic-link"
      >Terms of use</a
    >
    <a href="https://app.com.au/" target="_blank" class="font-13 classic-link"
      >Contact us</a
    >
    <a href="https://app.com.au/" target="_blank" class="font-13 classic-link"
      >Help</a
    >
  </div>
</div>
