<div class="layout vertical auth-page">
    <div class="flex-1 layout vertical main">
        <div class="flex-1 layout vertical center-center body">
            <div class="layout vertical center-center logo">
                <h2 class="title font-42 w-800 title">
                    Fomin
                </h2>
            </div>

            <div class="font-14 additional-info">
                Forgot your password? Enter your email address and we'll email
                you a link you can use to reset your password.
            </div>

            <form
                [formGroup]="emailForm"
                (ngSubmit)="onSubmit()"
                class="layout vertical center action"
            >
                <div class="layout vertical font-15 input-box">
                    <label class="new-label">Email address</label>
                    <div class="new-field-input with-errors">
                        <input
                            formControlName="email"
                            (focus)="incorrectValues = null"
                            type="email"
                            name="email"
                            placeholder="Your email address"
                            autocomplete="email"
                            class="field font-18"
                            [class.ng-invalid]="incorrectValues"
                        />
                        <div
                            *ngIf="email.touched && email.errors?.required"
                            class="field-error font-15"
                        >
                            Email is required
                        </div>
                        <div
                            *ngIf="email.touched && email.errors?.email"
                            class="field-error font-15"
                        >
                            Email is not valid
                        </div>
                    </div>
                </div>

                <button type="submit" class="new-filled-submit">
                    <span class="info">EMAIL NEW CODE</span
                    ><span class="font-18 arrow">&#x279e;</span>
                </button>

                <a [routerLink]="['/login']" class="font-14 w-600 classic-link">
                    Log in
                </a>
            </form>
        </div>

        <div class="layout vertical border-box bottom">
            <div class="layout horizontal evenly">
                <a
                    href="https://app.com.au/privacy"
                    target="_blank"
                    class="font-12 w-500 classic-link"
                    >Privacy policy</a
                >
                <a
                    href="https://app.com.au/eula"
                    target="_blank"
                    class="font-12 w-500 classic-link"
                    >Terms of use</a
                >
                <a
                    href="https://app.com.au/"
                    target="_blank"
                    class="font-12 w-500 classic-link"
                    >Contact us</a
                >
                <a
                    href="https://app.com.au/"
                    target="_blank"
                    class="font-12 w-500 classic-link"
                    >Help</a
                >
            </div>
            <div class="font-12 w-400 layout horizontal license">
                2020 Fomin App .Inc
            </div>
        </div>
    </div>
</div>
