<div class="layout horizontal center end-justified border-box header-container">
    <div class="greeting">
        {{ user | userName: { prefix: "Hi, " } | shortcut: 40 }}
    </div>
    <div
        class="layout horizontal"
        (click)="isVisible = !isVisible; $event.stopImmediatePropagation()"
    >
        <img
            *ngIf="!userPhoto"
            src="assets/icons/profile.svg"
            class="image photo select-none"
        />
        <img
            *ngIf="userPhoto"
            [src]="userPhoto"
            class="image photo select-none"
        />
        <img
            src="assets/icons/arrow-left.svg"
            class="arrow select-none"
            [ngClass]="{ up: isVisible }"
        />
        <div
            (click)="$event.stopImmediatePropagation()"
            class="absolute layout vertical dropdown"
            [ngClass]="{ hide: !isVisible }"
        >
            <div class="font-15 w-600 name" [ngClass]="{ hide: !isVisible }">
                {{ user | userName: { error: "Not set" } | shortcut }}
            </div>
            <a
                (click)="isVisible = !isVisible"
                [routerLink]="['/settings']"
                class="font-13"
                [ngClass]="{ hide: !isVisible }"
            >
                My profile settings
            </a>
            <a
                (click)="logout()"
                [ngClass]="{ hide: !isVisible }"
                class="font-13"
            >
                Log out
            </a>
        </div>
    </div>
</div>
