@import "auth";

span.arrow {
    margin-left: 8px;
}

.auth-page {
    height: 100%;
    width: 100%;

    .main {
        width: $conent-width;
        max-width: $conent-max-width;

        .body {
            width: 100%;

            .logo {
                margin-bottom: $logo-margin-bottom;
                width: 100%;

                .image {
                    height: $logo-image-size;
                    width: $logo-image-size;
                }

                .title {
                    text-align: center;
                    margin-top: $logo-title-margin-top;
                }
            }

            .additional-info {
                margin-bottom: $additional-info-margin-bottom;
                width: $additional-info-width;
                letter-spacing: 0.2px;
                text-align: center;
                line-height: 20px;
            }

            .action {
                width: 100%;

                .input-box {
                    position: relative;
                    width: 100%;

                    .show-password {
                        position: absolute;
                        top: 15px;

                        &.active {
                            color: $main-color;
                        }
                    }
                }

                .new-filled-submit {
                    margin-bottom: $submit-margin-bottom;
                }
            }
        }

        .bottom {
            width: 100%;
            margin-bottom: $bottom-margin-bottom;

            a {
                text-align: center;
                letter-spacing: 0.2px;
                margin-bottom: $bottom-link-margin-bottom;
            }

            .license {
                justify-content: center;
                color: $bottom-addition-text-color;
            }
        }
    }
}
