@import "new-global-variables";
@import "new-color-palette";

$toast-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

.toast {
    position: relative;
    color: $main-color;
    background: $white;
    box-shadow: $toast-shadow;
    min-width: 288px;
    max-width: 568px;
    border-radius: 2px;
    padding: 14px 0 14px 24px;
    min-height: 48px;
    margin-bottom: 10px;

    .toast-text {
        word-wrap: break-word;
        overflow: hidden;
        margin-right: 24px;
    }

    .toast-action {
        text-transform: uppercase;
        margin-left: auto;
        cursor: pointer;
        color: $red-notification;
        margin-right: 24px;
    }
}
